*.*
__pycache__
media
static

!*.py

!.coveragerc
!.env.bak
!.gitignore
!.isort.cfg
!.pre-commit-config.yaml
!docker-compose.dev.yml
!docker-compose.yml
!Dockerfile.dev
!entrypoint.dev.sh
!entrypoint.sh
!poetry.lock
!pyproject.toml
!pytest.ini
!README.md